#define str(s) #s
#define TD(NAME, BINDINGS) \
  td_##NAME: td_##NAME { \
      compatible = "zmk,behavior-tap-dance"; \
      label = str(td_##NAME); \
      #binding-cells = <0>; \
      tapping-term-ms = <200>; \
      bindings = <BINDINGS>; \
    };

TD(qq1, <&kp SE_A_RING> <&kp LS(SE_PLUS)>)
TD(qq2, <&kp LS(SE_N5)> <&kp LS(SE_PLUS)>)
